{% extends 'layout/app.html' %}
{% block title %}New Author - {{ author.name }}{% endblock %}
{% block content %}
<div class="container">
    <h1>Author: {{ author.name }}</h1>
    <form action="{{ url_for('author_routes.store', author=None) }}" method="POST">
        <div class="input-group mb-3">
            <input type="text" name="name" value="" class="form-control" placeholder="Name"
                aria-label="name">
            <span class="input-group-text">.</span>
            <input type="number" name="age" value="" class="form-control" placeholder="Age"
                aria-label="Age">
        </div>

        <div class="input-group">
            <input type="submit" class="btn btn-outline-primary form-control" value="Save">
        </div>
    </form>
</div>
{% endblock %}