{% extends 'layout/app.html' %}
{% block title %}Edit Author - {{ author.name }}{% endblock %}
{% block content %}
<div class="container">
    <h1>Author: {{ author.name }}</h1>
    <form action="{{ url_for('author_routes.update', author_id=author.id) }}" method="POST">
        <div class="input-group mb-3">
            <input type="text" name="name" value="{{author.name}}" class="form-control" placeholder="Name"
                aria-label="name">
            <span class="input-group-text">.</span>
            <input type="number" name="age" value="{{author.age}}" class="form-control" placeholder="Age"
                aria-label="Age">
        </div>

        <div class="input-group">
            <input type="submit" class="btn btn-outline-success form-control" value="Save changes">
        </div>
    </form>
</div>
{% endblock %}